@font-face {
  font-family: "iconfont"; /* Project id 3453122 */
  src: url('iconfont.woff2?t=1655363966057') format('woff2'),
       url('iconfont.woff?t=1655363966057') format('woff'),
       url('iconfont.ttf?t=1655363966057') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e66e";
}

.icon-tuite:before {
  content: "\e61d";
}

.icon-telegram:before {
  content: "\ec25";
}

.icon-a-icon_signout1:before {
  content: "\e60f";
}

.icon-icon_tianjia:before {
  content: "\e60d";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

